.con_mobile{display: none;}

.con_nav{ bottom: 20px; left: 20px;}
.con_nav_sub {bottom: 60px; left: 0px;}

.brand{display: block; width: 218px; height: 52px; position: absolute; bottom: 20px; right: 40px; background: url('../img/brand.svg') no-repeat center;}

.text_title{text-align: center; width: 100%;}
.text_title h1{font-size: 100px;}
.text_title h2{font-size: 80px; margin-top: 60px;}
.text_title h2 span{font-size: 80px; position: relative;}

.con_siri{width: 1000px; height: 600px;}
.con_siri h1{position: absolute; top: 10px; left: 100px; text-align: center; display: block; width: 800px; height: 80px; font-size: 64px; overflow:hidden; text-transform: capitalize; }
.con_siri i{position: absolute; top: 0px; left: 0px; width: 102px; height: 170px;}
.con_siri i{position: absolute; width: 205px; height: 341px; left: 398px; top: 130px;}
.con_siri canvas{position: absolute;bottom: 0px; left: 0px; width:1000px; height: 400px; }

.icon_siri{display: block; background: url('../img/icon_siri.png') no-repeat center; background-size: contain;}
.img_speaker{display: block; width: 600px; height: 300px; background: url('../img/speaker.png') no-repeat center; background-size: contain;}

.con_space{width: 1000px; height: 600px;}
.con_space i{display: block; width: 70px; height: 70px; background-position: center; background-repeat: no-repeat; position: absolute;}
.con_space .avatar1{background-image: url('../img/avatar1.png');}
.con_space .avatar2{background-image: url('../img/avatar2.png');}
.con_space .avatar3{background-image: url('../img/avatar3.png');}
.con_space .avatar4{background-image: url('../img/avatar4.png');}

.con_melody,.con_melody_group{width: 840px; height: 600px;position: absolute;}
.con_melody_group span,.con_melody_group h1{font-size: 36px;  display: block;line-height: 40px;  height: 40px; text-align: center; position: absolute;}
.con_melody_group span{ width: 50px;}
.con_melody_group h1{ width: 120px;}
.con_melody_group .line{ width: 0px; height: 100px; position: absolute; border-right: 1px solid white; }
.con_melody h2{font-size: 80px; text-align: center; display: block; height: 100px; line-height: 100px; width: 100%; position: absolute; left: 0px; top: -100px;}

.con_ultrasound{width: 1000px; height: 400px;}
.con_ultrasound .rule{width: 1000px; height: 40px; position: absolute; top: 100%; left: 0px; border-top: 2px solid white;}
.con_ultrasound .rule i{position: absolute; top: 0px; height: 40px; line-height: 40px;  font-size: 20px;  }