.con_mobile{display: none;}

.con_nav{ bottom: 20px; left: 20px;}
.con_nav_sub {bottom: 60px; left: 0px;}

.brand{display: block; width: 218px; height: 52px; position: absolute; bottom: 20px; right: 40px; background: url('../img/brand.svg') no-repeat center;}

.text_title{text-align: center; width: 100%;}
.text_title h1{font-size: 100px;}
.text_title h2{font-size: 80px; margin-top: 60px;}
.text_title h2 span{font-size: 80px; position: relative;}

.con_siri{width: 1000px; height: 600px;}
.con_siri h1{position: absolute; top: 10px; left: 100px; text-align: center; display: block; width: 800px; height: 80px; font-size: 64px; overflow:hidden; text-transform: capitalize; }
.con_siri i{position: absolute; top: 0px; left: 0px; width: 102px; height: 170px;}
.con_siri i{position: absolute; width: 205px; height: 341px; left: 398px; top: 130px;}
.con_siri canvas{position: absolute;bottom: 0px; left: 0px; width:1000px; height: 400px; }

.icon_siri{display: block; background: url('../img/icon_siri.png') no-repeat center; background-size: contain;}
.img_speaker{display: block; width: 600px; height: 300px; background: url('../img/speaker.png') no-repeat center; background-size: contain;}

.con_space{width: 1000px; height: 600px;}
.con_space i{display: block; width: 70px; height: 70px; background-position: center; background-repeat: no-repeat; position: absolute;}
.con_space .avatar1{background-image: url('../img/avatar1.png');}
.con_space .avatar2{background-image: url('../img/avatar2.png');}
.con_space .avatar3{background-image: url('../img/avatar3.png');}
.con_space .avatar4{background-image: url('../img/avatar4.png');}