*{margin: 0px; padding: 0px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px;outline: none; list-style: none; color: white;}
html,body{position: relative; height: 100%;overflow:hidden;}
i{font-style: normal;}
h1,h2,h3,h4,h5,h6{font-weight: normal;}
ul{list-style: none;}

.con_warp{background: linear-gradient(135deg,
    #37004E 0%,
    #39004B 35%,
    #9019C2 75%,
    #22005F 100%);}

.con{width: 100%;height: 100%; overflow: hidden; position: absolute; top: 0px; left: 0px;}

.status_bar{height: 20px; width: 100%;}

.title_bar{position: relative; height: 56px; width: 100%;text-align: center; }
.title_bar>a{position: absolute; top: 6px; display: block; height: 44px; line-height: 44px; text-align: center; width: 44px; background-position: center; background-repeat: no-repeat; border-radius: 50%;}
.title_bar>a:first-child{left:12px;}
.title_bar>a:last-child{right:12px;}
.title_bar>span{text-align: center; color: white; font-size:16px; height: 56px; line-height: 56px;  vertical-align: top;}

.con_flex_column{ display: -webkit-flex; -webkit-flex-flow: column;}
.con_flex_row{ display: -webkit-flex; -webkit-flex-flow: row;}
.flex_none{-webkit-flex:none;}
.flex_1{-webkit-flex:1;}

.con_nav{width: 375px; height: 56px; line-height: 56px; position: absolute; background: rgba(255,255,255,0.15); border-radius: 5px; z-index: 99999;}
.con_nav>a{display:block;width: 56px; height: 56px; line-height: 56px; background-position: center; background-repeat: no-repeat; cursor: pointer; }
.con_nav>a:first-child{background-image:url('../img/arrowL.svg'); margin-left: 12px;}
.con_nav>a:last-child{background-image:url('../img/arrowR.svg'); margin-right: 12px;}
.con_nav>div{height: 56px; text-align: center;cursor: pointer;}
.con_nav>div i{ display: inline-block; height: 56px; width: 20px; background: url('../img/arrowD.svg') no-repeat center; margin-left: 12px; vertical-align: top;}

.con_nav_sub{position: absolute;  width: 100%; text-align: center;background: rgba(255,255,255,0.15); border-radius: 5px; max-height: 410px; overflow-x: hidden;}
.con_nav_sub li{height: 40px;line-height: 40px;  width: 100%; border-bottom: 1px solid rgba(255,255,255,0.05);}
.con_nav_sub a{ display: block; text-align: center;height: 40px;line-height: 40px;  width: 100%; cursor: pointer; text-decoration: none;}
.con_nav_sub li:last-child{border-bottom: none;}


.ENABLESCROLL{-webkit-overflow-scrolling: touch}

.z100{z-index: 100;}
.z200{z-index: 200;}

.an_fade-enter-active, .an_fade-leave-active { transition: opacity .5s linear 0s;}
.an_fade-enter, .an_fade-leave-to{ opacity: 0;}

.spinner{animation: spinner 2s linear 0s infinite;}
@keyframes spinner{
from {transform:rotate(0deg);}
to {transform:rotate(360deg);}
}
